*,
::after,
::before {
    box-sizing: border-box;
}

.payperdownload-popup-wrapper .overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(170, 170, 170, 0.3);
}

.showsec {
    display: block;
}

.payperdownload-popup {
    font-family: "Source Sans Pro";
    ;
    color: #46464e;
    font-size: 16px;
    line-height: 1.5;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.payperdownload-popup .popup-content-wrapper {
    max-width: 750px;
    margin: 28px auto;
    position: relative;
    width: 750px;
    pointer-events: none;
}

.payperdownload-popup .popup-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
}

.payperdownload-popup .close-popup {
    position: absolute;
    right: 28px;
    top: 28px;
    outline: none;
    z-index: 99;
    color: #9b9b9b !important;
    cursor: pointer;
    font-size: 18px;
}

.payperdownload-popup .popup-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 30px;
    min-width: 350px;
}

.payperdownload-popup .popup-charged-info-section {
    text-align: center;
    font-size: 22px;
}

.payperdownload-popup .popup-charged-info-section .h3 {
    margin: 15px 0 25px;
}

.payperdownload-popup .popup-charged-info-section .lock-icon {
    margin-left: 8px;
    font-size: 14px;
    display: inline-block;
    color: #9B9B9B;
    position: relative;
    font-weight: 600 !important;
    top: -3px;
}

.payperdownload-popup .popup-charged-info-section .lock-icon::before {
    content: "\f30d" !important;
}

.payperdownload-popup .popup-btm-section {
    margin: 30px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.payperdownload-popup button.btn {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    outline: 0;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 18px;
    height: 45px;
    font-weight: 600;
    padding: 12px 10px;
    min-width: 165px;
    top: 0;
    width: 180px;
    cursor: pointer;
}

.payperdownload-popup .card-img {
    display: inline-block;
    width: 31px;
    height: 21px;
    background: url('/blobcontent/ecom-widgets/payperfeaturepopup/prod/images/common/cardLogo-sprite.png') no-repeat;
    vertical-align: middle;
    margin: 0 10px;
}

.payperdownload-popup .visa-card-img {
    background-position: 0 0;
}

.payperdownload-popup .master-card-img {
    background-position: -36px 0;
}

.payperdownload-popup .amex-card-img {
    background-position: -110px 0;
}

.payperdownload-popup .discover-card-img {
    background-position: -72px 0;
}

.payperdownload-popup .h3 {
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    color: #2d81d6;
    font-family: "Roboto Slab";
}

.payperdownload-popup .text-small {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 20px;
}

.loader-img-section {
    margin: 40px 0 25px;
    width: 30px;
    height: 30px;
    display: inline-block;
    animation: rotation 1.5s infinite linear;
}

.loader-img-section img {
    max-width: 100%;
    height: auto;
}

.loader-img-section+.h3 {
    color: #46464E;
    font-family: "Source Sans Pro";
    font-size: 22px;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 50px;
    font-weight: 400;
}

.popup-charged-loader-section,
.popup-loader-section {
    text-align: center;
}

.payperdownload-popup .btn {
    margin-right: 30px;
}

.payperdownload-popup .btn-secondary {
    color: #46464e;
    background-color: #fff;
    border: 1px solid #d7ddE2;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16) !important;
}

.payperdownload-popup .btn-secondary:hover,
.payperdownload-popup .btn-secondary:focus,
.payperdownload-popup .btn-secondary:active {
    color: #46464e;
    border-color: #d7ddE2;
    background-color: #f6f8fa;
    outline: none;
}

.payperdownload-popup .btn-primary {
    background-color: #01b284;
    color: #fff;
    border: none;
}

.payperdownload-popup .btn-primary:hover,
.payperdownload-popup .btn-primary:focus,
.payperdownload-popup .btn-primary:active {
    background: #02c693;
    border-color: #02c693;
    color: #fff;
}

@keyframes rotation {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

@media only screen and (max-width: 765px) {

    .payperdownload-popup .popup-content-wrapper,
    .payperdownload-popup .popup-content {
        height: auto;
        margin: 0 auto;
        width: 100%;
    }

    .payperdownload-popup .popup-content-wrapper {
        width: calc(100% - 30px);
    }

    .payperdownload-popup-wrapper .overlay {
        background: rgba(70, 70, 78, 0.1);
    }

    .payperdownload-popup button.btn {
        width: 100%;
        font-size: 16px;
        height: 45px;
        margin-left: 0;
    }

    .payperdownload-popup button.btn-primary {
        margin-bottom: 15px;
    }

    .payperdownload-popup .h3 {
        line-height: 24px;
        font-size: 20px;
        font-weight: 400;
        margin-top: 25px;
    }

    .loader-img-section+.h3 {
        font-size: 16px !important;
    }

    .payperdownload-popup .popup-body {
        padding: 40px 15px 22px;
        min-width: 280px;
        width: 100%;
    }

    .payperdownload-popup .popup-charged-info-section .text {
        font-size: 16px;
        line-height: 24px;
    }

    .payperdownload-popup .popup-charged-info-section .text-small {
        margin: 0 15px;
        font-size: 14px;
        line-height: 18px;
    }

    .payperdownload-popup .popup-btm-section {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .popup-charged-loader-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .popup-loader-section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .payperdownload-popup .popup-charged-info-section .lock-icon {
        top: -1px;
    }

    .payperdownload-popup .close-popup {
        font-size: 14px;
        right: 16px;
        top: 21px;
    }

    .payperdownload-popup .close-popup .far {
        font-weight: 600 !important;
    }
}


/* Experiment - ECL-8004 - MPR Desktop - Upsell Test V2*/

.limited-time-offer-inner-section {
    border: 1px solid #ddd;
    border-top-color: #41a1ff;
    padding: 15px;
    background: #fff;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    display: flex;
    margin: 50px -15px 0;
    font-family: "Source Sans Pro", sans-serif;
}

.limited-time-offer-inner-section .limited-time-offer-text {
    position: absolute;
    top: -23px;
    left: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #2b92f6;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    padding: 2px 5px;
}

.limited-time-offer-inner-section .resume-gurantee-left-section {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.limited-time-offer-inner-section .resume-gurantee-right-section {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    text-align: right;
}

.limited-time-offer-inner-section .h3 {
    font-weight: 700;
    display: inline-block;
    margin: 0 5px 0 !important;
    font-size: 14px;
    line-height: 18px !important;
    padding: 0 !important;
}

.limited-time-offer-inner-section .text {
    display: inline-block;
    margin: 0;
}

.limited-time-offer-inner-section .cross-btn {
    cursor: pointer;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    color: #46464e;
}

.limited-time-offer-inner-section .cross-btn:before {
    content: "\f00d";
}

.limited-time-offer-inner-section .btn {
    min-width: 180px;
    font-size: 12px;
    font-weight: 600;
    font-family: "Source Sans Pro", Arial, sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
    transition: all .25s ease;
    border: 1px solid transparent !important;
    background-color: transparent !important;
    box-shadow: none;
    color: #01b284 !important;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}




.limited-time-offer-inner-section .arrow-icon {
    border: solid #01b284;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 3px;
}

/*Resume Review popup*/

.resume-guarntee-popup-outer-wrapper .overlay {
    background: rgba(46, 46, 46, 0.7);
}

.resume-gurantee-popup-wrapper {
    display: inline-block;
}

@media only screen and (min-width: 1024px) {

    .resume-gurantee-popup-wrapper .popup-content-wrapper {
        width: 885px;
        max-width: 885px;
    }

}

.resume-gurantee-popup-wrapper .close-popup {
    font-size: 21px;
    top: 20px;
}

.resume-gurantee-popup-wrapper .h1 {
    font-family: "Roboto Slab", sans-serif;
    font-size: 28px;
    line-height: 37px;
    font-weight: 300;
    color: #2d81d6;
    padding: 35px 10% 20px;
    margin: 0;
}

.resume-gurantee-popup-wrapper .resume-gurantee-price-section {
    padding: 0 10% 20px;
    display: flex;
    width: 100%;
}

.resume-gurantee-popup-wrapper .resume-gurantee-price-left-section,
.resume-gurantee-popup-wrapper .resume-gurantee-price-right-section {
    flex: 0 0 50%;
    max-width: 50%;
}

.resume-gurantee-popup-wrapper .resume-gurantee-price-right-section {
    text-align: right;
}

.resume-gurantee-popup-wrapper .resume-gurantee-price-right-section .text-bold {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.resume-gurantee-popup-wrapper .resume-gurantee-price-right-section .text-strike {
    font-size: 14px;
    line-height: 18px;
    color: #9b9b9b;
    text-decoration: line-through;
}

.resume-gurantee-popup-wrapper .resume-gurantee-price-right-section .text-highlight {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    color: #01b284;
    display: block;
}

.resume-gurantee-popup-wrapper .popup-body {
    padding: 0;
}

.resume-gurantee-popup-wrapper .popup-content {
    border: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05)
}

.resume-gurantee-popup-wrapper .h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 25px;
    color: #46464e;
    display: inline-block;
    vertical-align: top;
    margin: 6px 0 0 10px !important;
    padding: 0 !important;

}

.resume-gurantee-popup-wrapper .resume-icon {
    display: inline-block;
    background: url('/blobcontent/ecom-widgets/payperfeaturepopup/prod/images/mpr/resume-icon.png') no-repeat 0 0;
    background-size: cover;
    width: 31px;
    height: 38px;
}

.resume-gurantee-popup-wrapper .doc-storage-icon {
    display: inline-block;
    background: url('/blobcontent/ecom-widgets/payperfeaturepopup/prod/images/mpr/doc-storage-icon.png') no-repeat 0 0;
    background-size: cover;
    width: 31px;
    height: 38px;
}

.resume-gurantee-popup-wrapper .gurantee-section {
    border: solid rgba(151, 151, 151, 0.2);
    border-width: 1px 0 1px 0;
    background-color: rgba(215, 221, 226, 0.2);
    padding: 20px 10%;
    font-size: 18px;
}

.resume-gurantee-popup-wrapper .gurantee-section .text {
    margin: 0;
}

.resume-gurantee-popup-wrapper .gurantee-section .h4 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume-gurantee-popup-wrapper .gurantee-list {
    margin: 0;
    list-style: none;
    padding-left: 50px;
}

.resume-gurantee-popup-wrapper .gurantee-list li {
    position: relative;
    margin-bottom: 10px;
}

.resume-gurantee-popup-wrapper .gurantee-list li:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    content: "\f00c";
    position: absolute;
    left: -30px;
    color: #006ad0;
}

.resume-gurantee-popup-wrapper .buy-now-section {
    text-align: center;
    max-width: 450px;
    margin: 20px auto;
    font-size: 14px;
}

.resume-gurantee-popup-wrapper .buy-now-section .btn {
    width: 100%;
}

.resume-gurantee-popup-wrapper .payment-icon:before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f30d";
    font-size: 12px;
    display: inline-block;
    margin: 0 2px;
}

.resume-gurantee-popup-wrapper .money-back-gurantee-section {
    border: solid rgba(151, 151, 151, 0.2);
    border-width: 1px 0 1px 0;
    background-color: rgba(45, 129, 214, 0.2);
    padding: 10px 10%;
    font-size: 18px;
    text-align: center;
    font-size: 14px;
}

.resume-gurantee-popup-wrapper .money-back-gurantee-section .text {
    margin: 0;
}

/*.resume-gurantee-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
}*/


/* joshua wrapper*/

.joshua-wrapper,
.joshua-wrapper .payperdownload-popup {
    font-family: "Nunito", sans-serif;
    color: #082e67;
}

.joshua-wrapper .payperdownload-popup .h3 {
    color: #082e67;
    font-family: "Domine", sans-serif;
    font-size: 26px;
    line-height: 40px;
    font-weight: 600;
}

.joshua-wrapper .payperdownload-popup .popup-content {
    border-radius: 30px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.18);
    border: 0;
}

.joshua-wrapper .payperdownload-popup .popup-charged-info-section .lock-icon {
    color: #ffbd00;
    font-size: 18px;
}

.joshua-wrapper .payperdownload-popup .popup-charged-info-section {
    font-size: 20px;
}

.joshua-wrapper button.btn {
    border-radius: 26px;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    height: 50px;
    min-width: 200px;
    text-transform: capitalize;
}

.joshua-wrapper .btn-secondary {
    border: 1.5px solid #002d6b;
    color: #002d6b;
}

.joshua-wrapper .btn-secondary:hover,
.joshua-wrapper .btn-secondary:focus {
    background-color: rgba(0, 0, 0, 0);
    border-color: #002d6b;
    color: #002d6b;
}

.joshua-wrapper .btn-primary {
    background-color: #02818c;
}

.joshua-wrapper .btn-primary:hover {
    background-color: #2f9098;
    border-color: #2f9098;
}

.joshua-wrapper .btn-primary:focus {
    background-color: #027580;
    border-color: #027580;
}

.joshua-wrapper .close-popup {
    font-weight: 300;
    font-size: 30px;
    color: #002d6b !important;
}

.joshua-wrapper .payperdownload-popup .text-small strong {
    font-weight: 400;
}

.popup-charged-loader-section.joshua-wrapper .h3 {
    font-family: "Domine", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: #002d6b;
}

.joshua-wrapper .loader-img-section img {
    display: none;
}

.joshua-wrapper .loader-img-bg {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 auto;
    background: url('/blobcontent/ecom-widgets/payperfeaturepopup/prod/images/mpr/jt-download-loading-image.png') no-repeat 0 0;
    background-size: cover;
}

@media screen and (max-width: 768px) {

    .joshua-wrapper .payperdownload-popup .h3 {
        font-size: 20px;
        line-height: 25px;
    }

    .joshua-wrapper .payperdownload-popup .popup-charged-info-section .text-small {
        font-size: 13px;
    }

    .joshua-wrapper .close-popup {
        font-size: 20px;
    }

    .joshua-wrapper .loader-img-section {
        margin: 0 0 20px 0;
    }

    .joshua-wrapper .loader-img-section+.h3 {
        font-size: 20px !important;
        line-height: 30px;
        margin: 0 0 20px 0;
    }

}